In [22]:
import pandas as pd
from glob import glob

In [23]:
#Ok, this is a mess, but we need to do it this way.
#We're going to create a fixed list of all of the different industries we want to use,
#excluding any top-level codes that have a sub-code.
#That'd be a pain to code, so we're just going to drop them here,
#with a map for renaming the fields later so they're more manageable.


INDUSTRY_NAMES  = {
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Agriculture, forestry, fishing and hunting, and mining: - Agriculture, forestry, fishing and hunting" : "Agriculture, forestry, fishing and hunting",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Agriculture, forestry, fishing and hunting, and mining: - Mining, quarrying, and oil and gas extraction" : "Mining, quarrying, and oil and gas extraction",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Construction:" : "Construction",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Manufacturing:" : "Manufacturing",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Wholesale trade:" : "Wholesale trade",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Retail trade:" : "Retail trade",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Transportation and warehousing, and utilities: - Transportation and warehousing" : "Transportation and warehousing",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Transportation and warehousing, and utilities: - Utilities" : "Utilities",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Information:" : "Information",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Finance and insurance, and real estate and rental and leasing: - Finance and insurance" : "Finance and insurance",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Finance and insurance, and real estate and rental and leasing: - Real estate and rental and leasing" : "Real estate and rental and leasing",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Professional, scientific, and management, and administrative and waste management services: - Professional, scientific, and technical services" : "Professional, scientific, and technical services",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Professional, scientific, and management, and administrative and waste management services: - Management of companies and enterprises" : "Management of companies and enterprises",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Professional, scientific, and management, and administrative and waste management services: - Administrative and support and waste management services" : "Administrative and support and waste management services",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Educational services, and health care and social assistance: - Educational services" : "Educational services",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Educational services, and health care and social assistance: - Health care and social assistance" : "Health care and social assistance",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Arts, entertainment, and recreation, and accommodation and food services: - Arts, entertainment, and recreation" : "Arts, entertainment, and recreation",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Arts, entertainment, and recreation, and accommodation and food services: - Accommodation and food services" : "Accommodation and food services",
    "Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings - Public administration:" : "Public administration"
}

In [24]:
#Pull in data
datasets = {}

short_year = ['07','17']
for year in [2007, 2017]:
    print(year)
    data = pd.DataFrame()
    
    #Pull in wage data
#     wage_str = {
#         2007: 'Estimate; Total:',
#         2017: 'Estimate; Total:'
#     }
    wages = pd.read_csv(glob('data/wages/' + str(year) + '_B24041/*.csv')[0],header=1)
    data = pd.concat([
        data,
        wages[['Estimate; Total:', 'Id2', 'Geography']]                 
    ], axis=1)
    data.rename(columns={
        'Estimate; Total:' : 'Median earnings ' + str(year)
    }, inplace=True)
        
        
    #Pull in population data for filtering out
    #cities w/ <100,000 people
    population = pd.read_csv(glob('data/population/' + str(year) + '/*.csv')[0], header=1)
    print("Population rows: ", len(population))
    
    #Merge
    data = data.merge(population[['Estimate; Total', 'Id2']], on='Id2', how='inner')
    data.rename(columns={
        'Estimate; Total' : 'Population ' + str(year)
    },inplace=True)
    
    #Push out dataframe
    datasets[year] = data
        
#Pull in employment data by industry
employment_2017 = pd.read_csv(glob('data/employment/2017/*.csv')[0],header=1)
employment_2007 = pd.read_csv(glob('data/employment/2007/*.csv')[0],header=1)

#Rename columns so we can identify them later
employment_2017.columns = [str(col) + ' 2017' for col in employment_2017.columns]
employment_2007.columns = [str(col) + ' 2007' for col in employment_2007.columns]
employment_2017.rename(columns={'Id 2017' : 'Id', 'Id2 2017' : 'Id2', 'Geography 2017': 'Geography'}, inplace=True)
employment_2007.rename(columns={'Id 2007' : 'Id', 'Id2 2007' : 'Id2', 'Geography 2007': 'Geography'}, inplace=True)

employment = employment_2007.merge(employment_2017.drop(['Id', 'Geography'], axis=1), on='Id2', how='inner') 

print("Employment 2017 rows: ", len(employment_2007))
print("Employment 2007 rows: ", len(employment_2017))

2007
Population rows:  513
2017
Population rows:  608
Employment 2017 rows:  513
Employment 2007 rows:  608

OK, so it looks like 95 additional cities qualified in the ten years in between. What do?

In [25]:
# datasets[2007].drop('Geography', axis=1, inplace=True)
SUBSTRINGS = [
    'Male;',
    'Female;',
    'Margin of Error;'
]
data = datasets[2007].merge(datasets[2017], on='Id2', how='inner')
data = data.merge(employment, on='Id2', how='inner')
data.dropna(axis=0, how='any', inplace=True)
data = data.loc[
    ~(data['Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings 2007'] == 'N')
]
data = data.loc[
    data['Population 2017'] > 100000
]
data
for col in data.columns:
    if any(substring.lower() in col.lower() for substring in SUBSTRINGS):
        data.drop(col,axis=1,inplace=True)

In [26]:
data

,Median earnings 2007,Id2,Geography_x,Population 2007,Median earnings 2017,Geography_y,Population 2017,Id,Geography,"Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings 2007",...,"Total; Estimate; Professional, scientific, and management, and administrative and waste management services: - Management of companies and enterprises 2017","Total; Estimate; Professional, scientific, and management, and administrative and waste management services: - Administrative and support and waste management services 2017","Total; Estimate; Educational services, and health care and social assistance: 2017","Total; Estimate; Educational services, and health care and social assistance: - Educational services 2017","Total; Estimate; Educational services, and health care and social assistance: - Health care and social assistance 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: - Arts, entertainment, and recreation 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: - Accommodation and food services 2017","Total; Estimate; Other services, except public administration 2017",Total; Estimate; Public administration 2017
0,30975,107000,"Birmingham city, Alabama",206215,32363,"Birmingham city, Alabama",212744,1600000US0107000,"Birmingham city, Alabama",60496,...,0,2900,16130,4829,11301,6582,1703,4879,2961,3479
3,40028,137000,"Huntsville city, Alabama",167121,45940,"Huntsville city, Alabama",195369,1600000US0137000,"Huntsville city, Alabama",47733,...,123,2139,10750,3965,6785,4369,624,3745,2288,6868
4,31623,150000,"Mobile city, Alabama",189476,39526,"Mobile city, Alabama",190273,1600000US0150000,"Mobile city, Alabama",52358,...,44,2809,15602,5605,9997,5833,975,4858,2201,2990
5,36379,151000,"Montgomery city, Alabama",200834,37876,"Montgomery city, Alabama",199525,1600000US0151000,"Montgomery city, Alabama",59922,...,44,1676,10524,4365,6159,4757,938,3819,2834,7106
6,35586,177256,"Tuscaloosa city, Alabama",77430,41227,"Tuscaloosa city, Alabama",100296,1600000US0177256,"Tuscaloosa city, Alabama",17302,...,0,1449,9762,4344,5418,3260,155,3105,1066,402
7,46518,203000,"Anchorage municipality, Alaska",279671,53139,"Anchorage municipality, Alaska",294356,1600000US0203000,"Anchorage municipality, Alaska",85223,...,513,2641,24784,6222,18562,9617,736,8881,6085,13818
9,49753,412000,"Chandler city, Arizona",227940,55938,"Chandler city, Arizona",253448,1600000US0412000,"Chandler city, Arizona",86666,...,208,5016,19185,7264,11921,6184,1654,4530,3133,3648
10,51350,427400,"Gilbert town, Arizona",195090,58563,"Gilbert town, Arizona",242362,1600000US0427400,"Gilbert town, Arizona",64787,...,530,3950,19280,7595,11685,5199,1709,3490,3174,4074
11,37213,427820,"Glendale city, Arizona",235940,39578,"Glendale city, Arizona",246708,1600000US0427820,"Glendale city, Arizona",73704,...,0,4911,19160,6036,13124,5349,1623,3726,3053,4141
12,35606,446000,"Mesa city, Arizona",479415,41472,"Mesa city, Arizona",496395,1600000US0446000,"Mesa city, Arizona",150898,...,151,11045,32426,11619,20807,10124,2619,7505,8120,5482
13,45039,454050,"Peoria city, Arizona",152107,50962,"Peoria city, Arizona",168174,1600000US0454050,"Peoria city, Arizona",50181,...,0,2594,13559,4727,8832,2631,713,1918,2699,2916
14,35478,455000,"Phoenix city, Arizona",1513777,41219,"Phoenix city, Arizona",1626085,1600000US0455000,"Phoenix city, Arizona",510372,...,778,41708,108330,36180,72150,44754,8588,36166,26549,26670
15,54326,465000,"Scottsdale city, Arizona",213877,66879,"Scottsdale city, Arizona",249947,1600000US0465000,"Scottsdale city, Arizona",70712,...,286,4380,18620,6221,12399,8357,2318,6039,3068,2147
16,46085,471510,"Surprise city, Arizona",107832,47348,"Surprise city, Arizona",134079,1600000US0471510,"Surprise city, Arizona",27424,...,61,1455,8398,2394,6004,3288,298,2990,2238,3604
17,37280,473000,"Tempe city, Arizona",168588,40625,"Tempe city, Arizona",185025,1600000US0473000,"Tempe city, Arizona",57963,...,351,3489,15786,8109,7677,4724,1282,3442,2173,1757
18,32148,477000,"Tucson city, Arizona",519260,36037,"Tucson city, Arizona",535676,1600000US0477000,"Tucson city, Arizona",144864,...,176,11353,38830,14098,24732,12579,2538,10041,4784,12022
22,37367,541000,"Little Rock city, Arkansas",198196,44694,"Little Rock city, Arkansas",198594,1600000US0541000,"Little Rock city, Arkansas",62752,...,65,2787,23683,7504,16179,3398,763,2635,3512,5506
26,35019,602000,"Anaheim city, California",342856,41158,"Anaheim city, California",352456,1600000US0602000,"Anaheim city, California",110906,...,301,7499,19243,4710,14533,11565,2668,8897,7431,2941
27,51064,602252,"Antioch city, California",104426,46321,"Antioch city, California",111683,1600000US0602252,"Antioch city, California",27833,...,242,2967,7517,1629,5888,2682,257,2425,1195,1889
29,48858,602553,"Arden-Arcade CDP, California",88615,43138,"Arden-Arcade CDP, California",100573,1600000US0602553,"Arden-Arcade CDP, California",26527,...,0,2622,7718,3022,4696,2202,508,1694,1426,2277
30,39420,603526,"Bakersfield city, California",324540,48029,"Bakersfield city, California",380887,1600000US0603526,"Bakersfield city, California",87176,...,47,3875,22077,6658,15419,6535,721,5814,3245,7888
33,60557,606000,"Berkeley city, California",111680,70880,"Berkeley city, California",122334,1600000US0606000,"Berkeley city, California",25465,...,0,1776,11675,8469,3206,2745,1469,1276,2144,1111
35,48268,608954,"Burbank city, California",96972,60488,"Burbank city, California",104823,1600000US0608954,"Burbank city, California",36757,...,39,1283,6672,2183,4489,5624,2998,2626,2179,848
36,65201,611194,"Carlsbad city, California",95796,90009,"Carlsbad city, California",115326,1600000US0611194,"Carlsbad city, California",30042,...,0,1971,6776,2518,4258,1462,1048,414,1352,1495
41,42219,613392,"Chula Vista city, California",227336,51626,"Chula Vista city, California",270450,1600000US0613392,"Chula Vista city, California",68707,...,0,4599,16141,4891,11250,5348,1226,4122,2319,6761
43,42442,614218,"Clovis city, California",92987,56744,"Clovis city, California",109700,1600000US0614218,"Clovis city, California",27627,...,39,519,8295,2950,5345,1507,559,948,2249,3378
45,50069,616000,"Concord city, California",124300,61879,"Concord city, California",129778,1600000US0616000,"Concord city, California",40231,...,51,2451,7798,2994,4804,3638,388,3250,2670,2172
46,45097,616350,"Corona city, California",156394,49253,"Corona city, California",167843,1600000US0616350,"Corona city, California",53716,...,48,2743,9610,3123,6487,2457,451,2006,1331,4801
47,45202,616532,"Costa Mesa city, California",114057,50794,"Costa Mesa city, California",113821,1600000US0616532,"Costa Mesa city, California",40622,...,0,3197,7515,2968,4547,3398,894,2504,2259,708
48,42029,617918,"Daly City city, California",104752,44108,"Daly City city, California",107091,1600000US0617918,"Daly City city, California",38561,...,0,1881,9970,1825,8145,5361,208,5153,2733,2285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,55880,4858016,"Plano city, Texas",263663,61774,"Plano city, Texas",285312,1600000US4858016,"Plano city, Texas",101050,...,494,6076,21482,10269,11213,9176,1411,7765,4223,2503
456,47895,4861796,"Richardson city, Texas",100129,51951,"Richardson city, Texas",116783,1600000US4861796,"Richardson city, Texas",36902,...,49,1581,8592,4456,4136,2862,315,2547,2079,1278
457,41177,4863500,"Round Rock city, Texas",90955,47789,"Round Rock city, Texas",123560,1600000US4863500,"Round Rock city, Texas",33504,...,0,2937,7794,4690,3104,3350,509,2841,1906,3043
459,31754,4865000,"San Antonio city, Texas",1284332,37707,"San Antonio city, Texas",1511913,1600000US4865000,"San Antonio city, Texas",382421,...,813,26385,117923,47146,70777,44369,5800,38569,19677,26322
461,71501,4872656,"The Woodlands CDP, Texas",62134,93711,"The Woodlands CDP, Texas",115097,1600000US4872656,"The Woodlands CDP, Texas",18923,...,312,839,10308,4068,6240,1023,448,575,984,798
462,30751,4874144,"Tyler city, Texas",91403,38793,"Tyler city, Texas",104998,1600000US4874144,"Tyler city, Texas",24550,...,0,1703,11265,1597,9668,2304,381,1923,1511,1420
463,27256,4876000,"Waco city, Texas",114536,31839,"Waco city, Texas",136437,1600000US4876000,"Waco city, Texas",29826,...,37,1961,11111,5024,6087,4036,339,3697,1657,1901
464,32617,4879000,"Wichita Falls city, Texas",99747,35881,"Wichita Falls city, Texas",104745,1600000US4879000,"Wichita Falls city, Texas",25660,...,0,958,8434,2443,5991,1913,338,1575,1802,2739
467,31634,4962470,"Provo city, Utah",118730,36723,"Provo city, Utah",117331,1600000US4962470,"Provo city, Utah",22185,...,0,1679,6870,3827,3043,1905,725,1180,1020,693
469,32276,4967000,"Salt Lake City city, Utah",188997,43312,"Salt Lake City city, Utah",200538,1600000US4967000,"Salt Lake City city, Utah",62297,...,79,3316,18432,8156,10276,6278,787,5491,3757,4220
471,40923,4982950,"West Jordan city, Utah",100245,44322,"West Jordan city, Utah",113921,1600000US4982950,"West Jordan city, Utah",32048,...,255,1676,7074,2589,4485,1110,104,1006,2178,1476
472,30880,4983470,"West Valley City city, Utah",124193,37200,"West Valley City city, Utah",136166,1600000US4983470,"West Valley City city, Utah",41443,...,423,4284,4901,1614,3287,3914,671,3243,2119,2003
473,60759,5101000,"Alexandria city, Virginia",140024,71175,"Alexandria city, Virginia",160035,1600000US5101000,"Alexandria city, Virginia",61447,...,91,2203,10794,5106,5688,5647,1259,4388,7007,14391
474,68701,5103000,"Arlington CDP, Virginia",204568,82357,"Arlington CDP, Virginia",234965,1600000US5103000,"Arlington CDP, Virginia",96637,...,286,2986,14278,8144,6134,6552,1528,5024,7519,21512
475,40897,5116000,"Chesapeake city, Virginia",219154,51860,"Chesapeake city, Virginia",240397,1600000US5116000,"Chesapeake city, Virginia",73179,...,0,4525,18195,5938,12257,3290,1109,2181,2647,10723
476,36518,5135000,"Hampton city, Virginia",146439,42601,"Hampton city, Virginia",134669,1600000US5135000,"Hampton city, Virginia",46312,...,0,2302,10561,5500,5061,2122,363,1759,2258,5470
478,37371,5156000,"Newport News city, Virginia",179153,41194,"Newport News city, Virginia",179388,1600000US5156000,"Newport News city, Virginia",51442,...,39,2252,12886,4097,8789,3907,1253,2654,2469,7048
479,33937,5157000,"Norfolk city, Virginia",235747,38975,"Norfolk city, Virginia",244703,1600000US5157000,"Norfolk city, Virginia",61639,...,51,3609,16322,5922,10400,5592,936,4656,2829,7597
481,35949,5167000,"Richmond city, Virginia",200123,44612,"Richmond city, Virginia",227032,1600000US5167000,"Richmond city, Virginia",57138,...,92,5013,15948,7049,8899,6888,994,5894,3072,4943
484,40968,5182000,"Virginia Beach city, Virginia",434743,49213,"Virginia Beach city, Virginia",450435,1600000US5182000,"Virginia Beach city, Virginia",142367,...,200,5368,35541,12790,22751,10408,1603,8805,5721,21406
485,66006,5305210,"Bellevue city, Washington",120246,100020,"Bellevue city, Washington",144459,1600000US5305210,"Bellevue city, Washington",37042,...,46,1800,6662,2796,3866,3052,1223,1829,2200,1303
487,37270,5322640,"Everett city, Washington",103729,43686,"Everett city, Washington",110086,1600000US5322640,"Everett city, Washington",30713,...,0,2572,5299,1016,4283,2663,493,2170,1625,1738
489,41269,5335415,"Kent city, Washington",94295,46272,"Kent city, Washington",128463,1600000US5335415,"Kent city, Washington",30314,...,207,1416,8153,1610,6543,4031,473,3558,1187,1500
490,51868,5363000,"Seattle city, Washington",577231,72052,"Seattle city, Washington",724764,1600000US5363000,"Seattle city, Washington",202470,...,1549,6917,61305,23636,37669,21425,5125,16300,12375,12628
491,33479,5367000,"Spokane city, Washington",210447,42142,"Spokane city, Washington",217096,1600000US5367000,"Spokane city, Washington",54533,...,0,2428,18093,5275,12818,5640,1547,4093,3023,4481
493,40378,5370000,"Tacoma city, Washington",190817,47708,"Tacoma city, Washington",213426,1600000US5370000,"Tacoma city, Washington",57940,...,174,3224,16295,4904,11391,5205,1898,3307,3158,5645
494,39529,5374060,"Vancouver city, Washington",156253,47914,"Vancouver city, Washington",175661,1600000US5374060,"Vancouver city, Washington",46332,...,195,2359,11975,3837,8138,4047,743,3304,2364,2659
497,36002,5531000,"Green Bay city, Wisconsin",100503,40008,"Green Bay city, Wisconsin",105114,1600000US5531000,"Green Bay city, Wisconsin",32524,...,0,1278,5899,1366,4533,2922,1022,1900,1359,1250
499,40942,5548000,"Madison city, Wisconsin",222725,52066,"Madison city, Wisconsin",255239,1600000US5548000,"Madison city, Wisconsin",68627,...,0,2614,27044,14244,12800,4944,756,4188,3499,6229
500,32590,5553000,"Milwaukee city, Wisconsin",582207,37571,"Milwaukee city, Wisconsin",595365,1600000US5553000,"Milwaukee city, Wisconsin",166737,...,238,11498,44528,15255,29273,18012,2916,15096,7113,8865

In [28]:
data.to_csv('output/merged_data.csv')

In [ ]:
employment

In [ ]:
counter = 0
PRESENT_2017_NOT_2007 = []
for value in datasets[2017]['Id2'].unique():
    try:
        assert(value in datasets[2007]['Id2'].unique())
    except AssertionError:
        PRESENT_2017_NOT_2007.append(value)
        print(value)
        
print(counter)

In [ ]:
len(set(datasets[2017]['Id2']).intersection(datasets[2007]['Id2']))

We want to see how many cities that had >100,000 people in 2017 also had >100,000 in 2007.

In [ ]:
len(data.loc[ 
    (data['Population 2017'] > 100000) 
])

In [ ]:
len(datasets[2017].loc[datasets[2017]['Population 2017'] > 100000])

In [ ]:
len(datasets[2017])

In [ ]:
len(data.loc[
    data['Population 2017'] > 100000
])

In [ ]:
list(data)

In [ ]:
datasets[2007]

In [29]:
#hack in Kyle's earnings estimates
earnings = pd.read_excel('data/earnings.xlsx')

In [30]:
earnings

,Id,Id2,Geography,2017,2007,Change,Population
0,1600000US5305210,5305210,"Bellevue city, Washington",100020,66006,0.515317,144459
1,1600000US4134100,4134100,"Hillsboro city, Oregon",59466,41178,0.444121,106903
2,1600000US0668252,668252,"San Mateo city, California",87371,60759,0.437993,104733
3,1600000US0667000,667000,"San Francisco city, California",80812,56256,0.436505,884363
4,1600000US5363000,5363000,"Seattle city, Washington",72052,51868,0.389142,724764
5,1600000US2511000,2511000,"Cambridge city, Massachusetts",72341,52185,0.386241,113631
6,1600000US0611194,611194,"Carlsbad city, California",90009,65201,0.380485,115326
7,1600000US4848072,4848072,"Midland city, Texas",56414,41289,0.366320,136090
8,1600000US1150000,1150000,"Washington city, District of Columbia",70725,51856,0.363873,693972
9,1600000US4827684,4827684,"Frisco city, Texas",83053,61354,0.353669,177281
10,1600000US3719000,3719000,"Durham city, North Carolina",50067,37049,0.351373,267932
11,1600000US4801924,4801924,"Allen city, Texas",74155,55181,0.343850,100679
12,1600000US1772000,1772000,"Springfield city, Illinois",50197,37371,0.343207,114663
13,1600000US4967000,4967000,"Salt Lake City city, Utah",43312,32276,0.341926,200538
14,1600000US3436000,3436000,"Jersey City city, New Jersey",57152,42596,0.341722,270750
15,1600000US0614218,614218,"Clovis city, California",56744,42442,0.336978,109700
16,1600000US1919000,1919000,"Davenport city, Iowa",43184,32440,0.331196,102314
17,1600000US4841980,4841980,"League City city, Texas",71274,53565,0.330608,105105
18,1600000US0952000,952000,"New Haven city, Connecticut",48271,36355,0.327768,131005
19,1600000US4830464,4830464,"Grand Prairie city, Texas",42861,32414,0.322299,193812
20,1600000US2404000,2404000,"Baltimore city, Maryland",48081,36422,0.320109,611648
21,1600000US4872656,4872656,"The Woodlands CDP, Texas",93711,71501,0.310625,115097
22,1600000US4835000,4835000,"Houston city, Texas",41903,32131,0.304130,2313230
23,1600000US0622230,622230,"El Monte city, California",30764,23601,0.303504,116110
24,1600000US2071000,2071000,"Topeka city, Kansas",42269,32470,0.301786,126588
25,1600000US0621712,621712,"El Cajon city, California",46308,35577,0.301627,103906
26,1600000US4841464,4841464,"Laredo city, Texas",32345,24882,0.299936,261935
27,1600000US0677000,677000,"Sunnyvale city, California",90713,69783,0.299930,153656
28,1600000US0812815,812815,"Centennial city, Colorado",71022,54743,0.297371,110277
29,1600000US0626000,626000,"Fremont city, California",82106,63303,0.297032,234954
...,...,...,...,...,...,...,...
284,1600000US1208150,1208150,"Brandon CDP, Florida",41272,39721,0.039047,121190
285,1600000US1304204,1304204,Augusta-Richmond County consolidated governmen...,35018,33742,0.037816,195678
286,1600000US1276600,1276600,"West Palm Beach city, Florida",37120,35817,0.036379,110219
287,1600000US3240000,3240000,"Las Vegas city, Nevada",41293,39855,0.036081,641708
288,1600000US3251800,3251800,"North Las Vegas city, Nevada",37284,36011,0.035350,242949
289,1600000US4856348,4856348,"Pearland city, Texas",62337,60209,0.035344,125198
290,1600000US0648354,648354,"Modesto city, California",44071,42648,0.033366,214220
291,1600000US4052500,4052500,"Norman city, Oklahoma",41169,39938,0.030823,122842
292,1600000US0629000,629000,"Garden Grove city, California",41641,40465,0.029062,174228
293,1600000US0681666,681666,"Vallejo city, California",51116,49751,0.027437,122086
294,1600000US0471510,471510,"Surprise city, Arizona",47348,46085,0.027406,134079
295,1600000US0827425,827425,"Fort Collins city, Colorado",46723,45783,0.020532,165089
296,1600000US0628000,628000,"Fullerton city, California",50829,49852,0.019598,140402
297,1600000US0649270,649270,"Moreno Valley city, California",38165,37484,0.018168,207211
298,1600000US3268585,3268585,"Spring Valley CDP, Nevada",40554,39890,0.016646,211280
299,1600000US0675000,675000,"Stockton city, California",37492,36941,0.014916,310476
300,1600000US2684000,2684000,"Warren city, Michigan",40763,40294,0.011639,135029
301,1600000US4847892,4847892,"Mesquite city, Texas",41448,40994,0.011075,143822
302,1600000US1239925,1239925,"Lehigh Acres CDP, Florida",32085,31808,0.008709,132618
303,1600000US1255775,1255775,"Pembroke Pines city, Florida",47269,46889,0.008104,170703
304,1600000US3271400,3271400,"Sunrise Manor CDP, Nevada",32155,32043,0.003495,193055
305,1600000US1270600,1270600,"Tallahassee city, Florida",39815,40012,-0.004924,191039
306,1600000US1245060,1245060,"Miami Gardens city, Florida",30396,30658,-0.008546,113743
307,1600000US3731400,3731400,"High Point city, North Carolina",39965,40415,-0.011134,111213
308,1600000US2646000,2646000,"Lansing city, Michigan",36090,36703,-0.016702,115451
309,1600000US0655156,655156,"Palmdale city, California",39488,40232,-0.018493,157507
310,1600000US4751560,4751560,"Murfreesboro city, Tennessee",41256,42158,-0.021396,136372
311,1600000US0664224,664224,"Salinas city, California",36770,38323,-0.040524,157594
312,1600000US0602252,602252,"Antioch city, California",46321,51064,-0.092883,111683
313,1600000US0602553,602553,"Arden-Arcade CDP, California",43138,48858,-0.117074,100573

In [32]:
data = data.merge(earnings[['Id', 2007, 2017, 'Change']], on='Id', how='inner')

In [33]:
data

,Median earnings 2007,Id2,Geography_x,Population 2007,Median earnings 2017,Geography_y,Population 2017,Id,Geography,"Total; Estimate; Full-time, year-round civilian employed population 16 years and over with earnings 2007",...,"Total; Estimate; Educational services, and health care and social assistance: - Educational services 2017","Total; Estimate; Educational services, and health care and social assistance: - Health care and social assistance 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: - Arts, entertainment, and recreation 2017","Total; Estimate; Arts, entertainment, and recreation, and accommodation and food services: - Accommodation and food services 2017","Total; Estimate; Other services, except public administration 2017",Total; Estimate; Public administration 2017,2007,2017,Change
0,30975,107000,"Birmingham city, Alabama",206215,32363,"Birmingham city, Alabama",212744,1600000US0107000,"Birmingham city, Alabama",60496,...,4829,11301,6582,1703,4879,2961,3479,30975,32363,0.044810
1,40028,137000,"Huntsville city, Alabama",167121,45940,"Huntsville city, Alabama",195369,1600000US0137000,"Huntsville city, Alabama",47733,...,3965,6785,4369,624,3745,2288,6868,40028,45940,0.147697
2,31623,150000,"Mobile city, Alabama",189476,39526,"Mobile city, Alabama",190273,1600000US0150000,"Mobile city, Alabama",52358,...,5605,9997,5833,975,4858,2201,2990,31623,39526,0.249913
3,36379,151000,"Montgomery city, Alabama",200834,37876,"Montgomery city, Alabama",199525,1600000US0151000,"Montgomery city, Alabama",59922,...,4365,6159,4757,938,3819,2834,7106,36379,37876,0.041150
4,35586,177256,"Tuscaloosa city, Alabama",77430,41227,"Tuscaloosa city, Alabama",100296,1600000US0177256,"Tuscaloosa city, Alabama",17302,...,4344,5418,3260,155,3105,1066,402,35586,41227,0.158517
5,46518,203000,"Anchorage municipality, Alaska",279671,53139,"Anchorage municipality, Alaska",294356,1600000US0203000,"Anchorage municipality, Alaska",85223,...,6222,18562,9617,736,8881,6085,13818,46518,53139,0.142332
6,49753,412000,"Chandler city, Arizona",227940,55938,"Chandler city, Arizona",253448,1600000US0412000,"Chandler city, Arizona",86666,...,7264,11921,6184,1654,4530,3133,3648,49753,55938,0.124314
7,51350,427400,"Gilbert town, Arizona",195090,58563,"Gilbert town, Arizona",242362,1600000US0427400,"Gilbert town, Arizona",64787,...,7595,11685,5199,1709,3490,3174,4074,51350,58563,0.140467
8,37213,427820,"Glendale city, Arizona",235940,39578,"Glendale city, Arizona",246708,1600000US0427820,"Glendale city, Arizona",73704,...,6036,13124,5349,1623,3726,3053,4141,37213,39578,0.063553
9,35606,446000,"Mesa city, Arizona",479415,41472,"Mesa city, Arizona",496395,1600000US0446000,"Mesa city, Arizona",150898,...,11619,20807,10124,2619,7505,8120,5482,35606,41472,0.164748
10,45039,454050,"Peoria city, Arizona",152107,50962,"Peoria city, Arizona",168174,1600000US0454050,"Peoria city, Arizona",50181,...,4727,8832,2631,713,1918,2699,2916,45039,50962,0.131508
11,35478,455000,"Phoenix city, Arizona",1513777,41219,"Phoenix city, Arizona",1626085,1600000US0455000,"Phoenix city, Arizona",510372,...,36180,72150,44754,8588,36166,26549,26670,35478,41219,0.161819
12,54326,465000,"Scottsdale city, Arizona",213877,66879,"Scottsdale city, Arizona",249947,1600000US0465000,"Scottsdale city, Arizona",70712,...,6221,12399,8357,2318,6039,3068,2147,54326,66879,0.231068
13,46085,471510,"Surprise city, Arizona",107832,47348,"Surprise city, Arizona",134079,1600000US0471510,"Surprise city, Arizona",27424,...,2394,6004,3288,298,2990,2238,3604,46085,47348,0.027406
14,37280,473000,"Tempe city, Arizona",168588,40625,"Tempe city, Arizona",185025,1600000US0473000,"Tempe city, Arizona",57963,...,8109,7677,4724,1282,3442,2173,1757,37280,40625,0.089726
15,32148,477000,"Tucson city, Arizona",519260,36037,"Tucson city, Arizona",535676,1600000US0477000,"Tucson city, Arizona",144864,...,14098,24732,12579,2538,10041,4784,12022,32148,36037,0.120972
16,37367,541000,"Little Rock city, Arkansas",198196,44694,"Little Rock city, Arkansas",198594,1600000US0541000,"Little Rock city, Arkansas",62752,...,7504,16179,3398,763,2635,3512,5506,37367,44694,0.196082
17,35019,602000,"Anaheim city, California",342856,41158,"Anaheim city, California",352456,1600000US0602000,"Anaheim city, California",110906,...,4710,14533,11565,2668,8897,7431,2941,35019,41158,0.175305
18,51064,602252,"Antioch city, California",104426,46321,"Antioch city, California",111683,1600000US0602252,"Antioch city, California",27833,...,1629,5888,2682,257,2425,1195,1889,51064,46321,-0.092883
19,48858,602553,"Arden-Arcade CDP, California",88615,43138,"Arden-Arcade CDP, California",100573,1600000US0602553,"Arden-Arcade CDP, California",26527,...,3022,4696,2202,508,1694,1426,2277,48858,43138,-0.117074
20,39420,603526,"Bakersfield city, California",324540,48029,"Bakersfield city, California",380887,1600000US0603526,"Bakersfield city, California",87176,...,6658,15419,6535,721,5814,3245,7888,39420,48029,0.218392
21,60557,606000,"Berkeley city, California",111680,70880,"Berkeley city, California",122334,1600000US0606000,"Berkeley city, California",25465,...,8469,3206,2745,1469,1276,2144,1111,60557,70880,0.170467
22,48268,608954,"Burbank city, California",96972,60488,"Burbank city, California",104823,1600000US0608954,"Burbank city, California",36757,...,2183,4489,5624,2998,2626,2179,848,48268,60488,0.253170
23,65201,611194,"Carlsbad city, California",95796,90009,"Carlsbad city, California",115326,1600000US0611194,"Carlsbad city, California",30042,...,2518,4258,1462,1048,414,1352,1495,65201,90009,0.380485
24,42219,613392,"Chula Vista city, California",227336,51626,"Chula Vista city, California",270450,1600000US0613392,"Chula Vista city, California",68707,...,4891,11250,5348,1226,4122,2319,6761,42219,51626,0.222814
25,42442,614218,"Clovis city, California",92987,56744,"Clovis city, California",109700,1600000US0614218,"Clovis city, California",27627,...,2950,5345,1507,559,948,2249,3378,42442,56744,0.336978
26,50069,616000,"Concord city, California",124300,61879,"Concord city, California",129778,1600000US0616000,"Concord city, California",40231,...,2994,4804,3638,388,3250,2670,2172,50069,61879,0.235874
27,45097,616350,"Corona city, California",156394,49253,"Corona city, California",167843,1600000US0616350,"Corona city, California",53716,...,3123,6487,2457,451,2006,1331,4801,45097,49253,0.092157
28,45202,616532,"Costa Mesa city, California",114057,50794,"Costa Mesa city, California",113821,1600000US0616532,"Costa Mesa city, California",40622,...,2968,4547,3398,894,2504,2259,708,45202,50794,0.123711
29,42029,617918,"Daly City city, California",104752,44108,"Daly City city, California",107091,1600000US0617918,"Daly City city, California",38561,...,1825,8145,5361,208,5153,2733,2285,42029,44108,0.049466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,55880,4858016,"Plano city, Texas",263663,61774,"Plano city, Texas",285312,1600000US4858016,"Plano city, Texas",101050,...,10269,11213,9176,1411,7765,4223,2503,55880,61774,0.105476
282,47895,4861796,"Richardson city, Texas",100129,51951,"Richardson city, Texas",116783,1600000US4861796,"Richardson city, Texas",36902,...,4456,4136,2862,315,2547,2079,1278,47895,51951,0.084685
283,41177,4863500,"Round Rock city, Texas",90955,47789,"Round Rock city, Texas",123560,1600000US4863500,"Round Rock city, Texas",33504,...,4690,3104,3350,509,2841,1906,3043,41177,47789,0.160575
284,31754,4865000,"San Antonio city, Texas",1284332,37707,"San Antonio city, Texas",1511913,1600000US4865000,"San Antonio city, Texas",382421,...,47146,70777,44369,5800,38569,19677,26322,31754,37707,0.187472
285,71501,4872656,"The Woodlands CDP, Texas",62134,93711,"The Woodlands CDP, Texas",115097,1600000US4872656,"The Woodlands CDP, Texas",18923,...,4068,6240,1023,448,575,984,798,71501,93711,0.310625
286,30751,4874144,"Tyler city, Texas",91403,38793,"Tyler city, Texas",104998,1600000US4874144,"Tyler city, Texas",24550,...,1597,9668,2304,381,1923,1511,1420,30751,38793,0.261520
287,27256,4876000,"Waco city, Texas",114536,31839,"Waco city, Texas",136437,1600000US4876000,"Waco city, Texas",29826,...,5024,6087,4036,339,3697,1657,1901,27256,31839,0.168146
288,32617,4879000,"Wichita Falls city, Texas",99747,35881,"Wichita Falls city, Texas",104745,1600000US4879000,"Wichita Falls city, Texas",25660,...,2443,5991,1913,338,1575,1802,2739,32617,35881,0.100071
289,31634,4962470,"Provo city, Utah",118730,36723,"Provo city, Utah",117331,1600000US4962470,"Provo city, Utah",22185,...,3827,3043,1905,725,1180,1020,693,31634,36723,0.160871
290,32276,4967000,"Salt Lake City city, Utah",188997,43312,"Salt Lake City city, Utah",200538,1600000US4967000,"Salt Lake City city, Utah",62297,...,8156,10276,6278,787,5491,3757,4220,32276,43312,0.341926
291,40923,4982950,"West Jordan city, Utah",100245,44322,"West Jordan city, Utah",113921,1600000US4982950,"West Jordan city, Utah",32048,...,2589,4485,1110,104,1006,2178,1476,40923,44322,0.083058
292,30880,4983470,"West Valley City city, Utah",124193,37200,"West Valley City city, Utah",136166,1600000US4983470,"West Valley City city, Utah",41443,...,1614,3287,3914,671,3243,2119,2003,30880,37200,0.204663
293,60759,5101000,"Alexandria city, Virginia",140024,71175,"Alexandria city, Virginia",160035,1600000US5101000,"Alexandria city, Virginia",61447,...,5106,5688,5647,1259,4388,7007,14391,60759,71175,0.171431
294,68701,5103000,"Arlington CDP, Virginia",204568,82357,"Arlington CDP, Virginia",234965,1600000US5103000,"Arlington CDP, Virginia",96637,...,8144,6134,6552,1528,5024,7519,21512,68701,82357,0.198774
295,40897,5116000,"Chesapeake city, Virginia",219154,51860,"Chesapeake city, Virginia",240397,1600000US5116000,"Chesapeake city, Virginia",73179,...,5938,12257,3290,1109,2181,2647,10723,40897,51860,0.268064
296,36518,5135000,"Hampton city, Virginia",146439,42601,"Hampton city, Virginia",134669,1600000US5135000,"Hampton city, Virginia",46312,...,5500,5061,2122,363,1759,2258,5470,36518,42601,0.166575
297,37371,5156000,"Newport News city, Virginia",179153,41194,"Newport News city, Virginia",179388,1600000US5156000,"Newport News city, Virginia",51442,...,4097,8789,3907,1253,2654,2469,7048,37371,41194,0.102299
298,33937,5157000,"Norfolk city, Virginia",235747,38975,"Norfolk city, Virginia",244703,1600000US5157000,"Norfolk city, Virginia",61639,...,5922,10400,5592,936,4656,2829,7597,33937,38975,0.148452
299,35949,5167000,"Richmond city, Virginia",200123,44612,"Richmond city, Virginia",227032,1600000US5167000,"Richmond city, Virginia",57138,...,7049,8899,6888,994,5894,3072,4943,35949,44612,0.240980
300,40968,5182000,"Virginia Beach city, Virginia",434743,49213,"Virginia Beach city, Virginia",450435,1600000US5182000,"Virginia Beach city, Virginia",142367,...,12790,22751,10408,1603,8805,5721,21406,40968,49213,0.201255
301,66006,5305210,"Bellevue city, Washington",120246,100020,"Bellevue city, Washington",144459,1600000US5305210,"Bellevue city, Washington",37042,...,2796,3866,3052,1223,1829,2200,1303,66006,100020,0.515317
302,37270,5322640,"Everett city, Washington",103729,43686,"Everett city, Washington",110086,1600000US5322640,"Everett city, Washington",30713,...,1016,4283,2663,493,2170,1625,1738,37270,43686,0.172149
303,41269,5335415,"Kent city, Washington",94295,46272,"Kent city, Washington",128463,1600000US5335415,"Kent city, Washington",30314,...,1610,6543,4031,473,3558,1187,1500,41269,46272,0.121229
304,51868,5363000,"Seattle city, Washington",577231,72052,"Seattle city, Washington",724764,1600000US5363000,"Seattle city, Washington",202470,...,23636,37669,21425,5125,16300,12375,12628,51868,72052,0.389142
305,33479,5367000,"Spokane city, Washington",210447,42142,"Spokane city, Washington",217096,1600000US5367000,"Spokane city, Washington",54533,...,5275,12818,5640,1547,4093,3023,4481,33479,42142,0.258759
306,40378,5370000,"Tacoma city, Washington",190817,47708,"Tacoma city, Washington",213426,1600000US5370000,"Tacoma city, Washington",57940,...,4904,11391,5205,1898,3307,3158,5645,40378,47708,0.181534
307,39529,5374060,"Vancouver city, Washington",156253,47914,"Vancouver city, Washington",175661,1600000US5374060,"Vancouver city, Washington",46332,...,3837,8138,4047,743,3304,2364,2659,39529,47914,0.212123
308,36002,5531000,"Green Bay city, Wisconsin",100503,40008,"Green Bay city, Wisconsin",105114,1600000US5531000,"Green Bay city, Wisconsin",32524,...,1366,4533,2922,1022,1900,1359,1250,36002,40008,0.111272
309,40942,5548000,"Madison city, Wisconsin",222725,52066,"Madison city, Wisconsin",255239,1600000US5548000,"Madison city, Wisconsin",68627,...,14244,12800,4944,756,4188,3499,6229,40942,52066,0.271701
310,32590,5553000,"Milwaukee city, Wisconsin",582207,37571,"Milwaukee city, Wisconsin",595365,1600000US5553000,"Milwaukee city, Wisconsin",166737,...,15255,29273,18012,2916,15096,7113,8865,32590,37571,0.152838

In [35]:
data.to_csv('merged_data_corrected.csv')